@use "/src/shared/styles/variables/colors";

.container {
  position: relative;
  left: 0%;
  width: 310px;
  height: 100%;
  background-color: colors.$neutral-4;
  display: flex;
  flex-direction: column;
  transition: left 0.25s;
  &Show {
    left: -100%;
  }
}

.overlay {
  top: 0;
  left: 50%;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: red;
  display: none;
}

.logoContainer {
  width: 40px;
  height: 40px;
  margin: 36px auto 44px auto;
}
.logo {
  width: 100%;
  height: 100%;
}

.optionList {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.toggleButtonContent {
  font-size: 1.5rem;
}

.toggleButton {
  z-index: 6000;
  position: absolute;
  bottom: 1rem;
  right: -3.5rem;
  border-radius: 100%;
  box-sizing: border-box;
  width: 40px;
  height: 40px;
}

@media (min-width: 768px) {
  .container {
    width: 232px;
    border-radius: 24px;
    left: 0%;

    &Show {
      left: 0%;
    }
  }

  .logoContainer {
    margin: 36px auto 44px auto;
  }

  .optionList {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  .toggleButton {
    display: none;
  }
}
