.container {
  display: flex;
  align-self: center;
  overflow: hidden;
}

.measurementContainer {
  position: absolute;
  visibility: hidden;
  display: flex;
  gap: 8px;
}

.tagMeasurementContainer {
  display: inline-block;
}
