.container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100vw;
  height: calc(100vh - 112px);
  overflow: auto;
  padding: 20px 1rem 1rem 1rem;
}

@media (min-width: 768px) {
  .container {
    width: auto;
    height: auto;
    padding: 0;
  }
}
